[submodule "vue3children"]
	path = vue3children
	url = https://github.com/gxtfirst/vue3children.git
[submodule "src/vue3children"]
	path = src/vue3children
	url = https://github.com/gxtfirst/vue3children.git
